.App{
    background-color: #ddd;
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.main-nav {
    margin-left: 10%;
    width: 80%;
    ul {
        list-style: none;
        display: flex;
        li{
            flex: 1;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
}