.faqList{
    list-style: none;
    
    li{
        background-color: #333;
        color: #fff;
        font-size: 120%;
        margin-bottom: 5px;
        display: flex;

        div{
            &:nth-child(3){
                background-color: #0f0;
                flex: 1;

                a{
                    text-decoration: none;
                }
            }

            &:last-child{
                background-color: #f00;
                flex: 1;
            }
        }
    }
}